---
layout: archive
title: ""
permalink: /center/
author_profile: true
---


<p class="sync-line" data-line="16">The <strong>Computational Communication Collaboratory</strong> (CCC, C-Cube, or C3) was established in February 2015 by the Department of Journalism and Communication, Nanjing University. The mission of the center is to uncover <strong>the computational gene of human communication behaviors</strong>. The center supplies a series of workshops, including Introduction to Computational Communication, Data Journalism, Computational Advertising, and Web Data Collection and Analysis.</p>

<h1 class="sync-line" data-line="18" id="contact">Contact</h1>
<ul>
<li><p class="sync-line" data-line="20">Address: A307 Feiyimin building, 22 Hankou, Nangjing, Jiangsu, China</p></li>
<li><p class="sync-line" data-line="21">Email: <a href="file:////Users/chengjun/GitHub/data-science-lab.github.io/datalab/export/pages/mailto:computational.communication@gmail.com">computational.communication@gmail.com</a></p></li>
</ul>

<h1 class="sync-line" data-line="23" id="members">Members</h1>
<ol>
<li><p class="sync-line" data-line="25">Naipeng Chao, professor, Nanjing University</p></li>
<li><p class="sync-line" data-line="26"><a href="http://chengjunwang.com">Cheng-Jun Wang</a>, Assistant Research Fellow, Nanjing University</p></li>
<li><p class="sync-line" data-line="27">Lingfei Wu, Postdoc, The University of Chicago</p></li>
</ol>

<h1 class="sync-line" data-line="35" id="publications">Publications</h1>

<ol>
<li><p class="sync-line" data-line="37">Wang, C.J., Wu, L*, Zhang, J., Janssen, M. (2016) The Collective Direction of Attention Diffusion. <strong>Scientific Reports</strong>. 6: 34059. doi:10.1038/srep34059</p></li>
<li><p class="sync-line" data-line="38">Naipeng Chao, Guangfeng Yuan, Yonggang Li, Qian Yao. (2016) The internet ecological perception, political trust and political efficacy of Chinese netizens. <strong>Telematics and Informatics</strong>. doi: 10.1016/j.tele.2016.05.014</p></li>
<li><p class="sync-line" data-line="39">Wu, L., Wang, C.J.* (2016) Tracing the Attention of Moving Citizens. <strong>Scientific Reports</strong>. 6, 33103. doi: 10.1038/srep33103</p></li>
<li><p class="sync-line" data-line="40">Chandra, Y., Jiang, C.L., Wang, C.J. (2016) Mining Social Entrepreneurship Strategies Using Topic Modeling, <strong>PLOS ONE</strong>, 11(3):e0151342, doi: 10.1371/journal.pone.0151342</p></li>
<li><p class="sync-line" data-line="41">Jiang, C.L, Yang, M, Wang, C.J. (2016) Self-Disclosure to Parents in Emerging Adulthood: Examining the Roles of Perceived Parental Responsiveness and Separation-Individuation. <strong>Journal of Social and Personal Relationships</strong>. 2016. doi: 10.1177/0265407516640603</p></li>
<li><p class="sync-line" data-line="42">Wang, C.J., Wu, L.*(2016) The Scaling of Attention Networks. <strong>Physica A</strong>: Statistical Mechanics and its Applications.448:196–204, doi: 10.1016/j.physa.2015.12.081</p></li>
<li><p class="sync-line" data-line="43">Wang, C.J.*, Wang, P.P, Zhu, J.J.H (2013). Discussing Occupy Wall Street on Twitter: Longitudinal network analysis of equality, emotion, and stability of public discussion. <strong>Cyberpsychology</strong>, Behavior, and Social Networking, 16(9): 679-685. doi:10.1089/cyber.2012.0409. [SSCI, Ranking 4/72 in Communication by 5-year IF].</p></li>
</ol>


<h1 class="sync-line" data-line="35" id="publications">News</h1>


{% include base_path %}

{% for post in site.center %}
  {% pages year-archive.html %}
{% endfor %}


<!-- start custom comments snippet -->
<section class="page__content" itemprop="text">

<!--Discus-->
<div id="disqus_thread"></div>
{% if site.comments.disqus.shortname %}
  <script type="text/javascript">
  	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  	var disqus_shortname = '{{ site.comments.disqus.shortname }}';
  	/* * * DON'T EDIT BELOW THIS LINE * * */
  	(function() {
  		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  	})();
  	/* * * DON'T EDIT BELOW THIS LINE * * */
  	(function () {
  		var s = document.createElement('script'); s.async = true;
  		s.type = 'text/javascript';
  		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  	}());
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

</section>
